{% extends "bootstrap/base.html" %}
{% from "_macros.html" import render_navigation, render_messages, render_observation_alerts, render_observation_form %}
{% block title %}Observation {{ image.id }}{% endblock %}

{% block navbar %}
{{ render_navigation(current_user) }}
{% endblock %}

{% block content %}
<div class="container" role="main" style="margin-top:60px;">
  {{ render_messages(messages) }}
  <div class="row">
    <div class="col-md-9">
      <a href="{{ image.url() }}" target="_blank"><image class="img-responsive" src="{{ image.url() }}" /></a>
    </div>
    <div class="col-md-3">
      <!-- show observations -->
      {{ render_observation_alerts(obs, talk) }}
      {{ render_observation_form(species, talkform) }}
      <div style="margin-top:30px; text-align:center;">
      <a type="button" class="btn btn-info" style='width:15em;' href="{{url_for('_observe_save', image_id=image.id, count=0, species='NOTHING', next_id=0)}}">
      No Species Present</a>
      </div>
      <div style="margin-top:20px; text-align:center;">
      <a type="button" class="btn btn-success" style='width:15em;' href="{{url_for('observe')}}">Next</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}